# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log